html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  text-align: center;
}

/* --- header --- */

/* --- div.body --- */
/*? --- firstpart --- */
/*? --- secondpart --- */
/*? --- thirdpart --- */
/*? --- faq --- */

/* --- footer --- */



.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
