html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

:root {
  --mediumgray: hsl(229, 8%, 60%);
  --lightgray: hsl(229, 8%, 95%);
  --darkgray: hsl(229, 8%, 30%);
  --blue: hsl(231, 69%, 60%);
  --darkblue: hsl(229, 31%, 21%);
  --pinkred: hsl(0, 94%, 66%);
}

body {
  font-family: 'Rubik', sans-serif;
  text-align: center;
}

body a {
  text-decoration: none;
}

body li {
  list-style: none;
}

body p {
  font-size: 0.9rem;
  color: var(--mediumgray);
}

/*? --- buttons --- */

.blue, .white, .pink {
  font-weight: 500;
  padding: 0.7rem;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 5px 2px hsl(229, 8%, 90%);
}

.pink {
  color: white;
  background: var(--pinkred);
  box-shadow: none;
  border: 1px solid var(--pinkred);
}

.pink:hover {
  border: 1px solid var(--pinkred);
  background: white;
  color: var(--pinkred);
  transition: 0.2s;
}

/*? --- hover properties --- */

.topbar-img img:hover, .closed img:hover, button:hover {
  cursor: pointer;
}

/* --- topbar --- */

.topbar {
  position: relative;
}

.topbar-img {
 /*  display: grid;
  grid-template-columns: repeat(2, 1fr); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
  padding: 0 2rem;
}

.closed {
  display: none;
}

.open {
  height: 155vw;
  width: 100%;
  background: hsla(229, 40%, 21%, 0.95);
  position: absolute;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  top: -130%;
  left: 0;
  right: 0;
  padding: 1.5rem 2rem;
  z-index: 3;
}

.open a {
  margin: 1rem auto;
  color: white;
  text-transform: uppercase;
}

.open a:hover {
 color: rgba(255, 255, 255, 0.294);
 transition: 0.2s;
}

.open hr {
  margin: 0.5rem;
  border-top: 0.2px solid rgba(255, 255, 255, 0.294);
  border-bottom: 1px solid hsla(229, 40%, 21%, 0.95);
}

.open button {
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 0.5rem;
  width: 100%;
  background: none;
  border: 2px solid white;
  border-radius: 5px;
  margin-top: 1rem;
}

.open button:hover {
  background: white;
  color: hsla(229, 40%, 21%, 0.95);
  transition: 0.2s;
}

.toggle-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0 2rem 0;
}

.toggle-socials {
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.toggle-socials img {
  margin: 0 1rem;
}

.toggle-socials img:hover {
  opacity: 40%;
  transition: 0.2s;
}


/* --- div.body --- */
/*? --- firstpart --- */

.first-img {
  position: relative;
  height: 13.5rem;
  background: var(--blue);
  margin-left: 4.5rem;
  margin-top: 7rem;
  margin-bottom: 3rem;
  border-radius: 0 0 0 30%;
}

.first-img img {
  position: absolute;
  left: -60px;
  top: -50px;
  width: 360px;
  /* margin: 0 auto; */
}

.manager {
  display: flex;
  flex-direction: column;
}

.manager h1 {
margin: 0 1.5rem;
}

.manager p {
margin: 1.5rem 1.5rem 0.5rem 1.5rem;
}

.buttons {
  margin-bottom: 2rem;
}

.blue {
  margin: 2rem 0.5rem;
  color: white;
  background: var(--blue);
  border: 1px solid var(--blue);
}

.white {
  margin: 2rem 0.5rem;
  color: var(--darkgray);
  background: var(--lightgray);
  border: 1px solid var(--lightgray);
}

.white:hover {
  border: 1px solid var(--darkgray);
  background-color: #fff;
  transition: 0.2s;
}

.blue:hover {
  border: 1px solid var(--blue);
  background-color: #fff;
  color: var(--blue);
  transition: 0.2s;
}

/*? --- secondpart --- */

.secondpart {
  display: flex;
  flex-direction: column;
  margin-bottom: 4.5rem;
}

.secondpart h3 {
  margin: 1rem;
}

.secondpart p {
  margin: 0 1.5rem 1.5rem 1.5rem;
}

.tabs button {
  margin: 1rem auto;
}

.tabs button, .question button {
  font-weight: 500;
  color: var(--darkgray);
  border: none;
  background: none;
}

.tabs button:hover {
  opacity: 50%;
}

/* .tabs button::after {
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  margin-top: 5px;
  background: var(--primary);
} */

.tabs hr, .faq hr {
  width: 80%;
  margin: 0 auto;
  border-top: 1px solid hsl(229, 8%, 80%);
  border-bottom: 1px solid white;
}

.tabs hr:last-of-type {
  margin-bottom: 1rem;
}

.hr {
  display: none;
}

/* #thick {
  border-top: 4px solid var(--pinkred);
  width: 130px;
} */

.img-tabpanel1, .img-tabpanel2, .img-tabpanel3 {
  position: relative;
  height: 12rem;
  /* width: 19rem; */
  background: var(--blue);
  margin-right: 4.5rem;
  margin-top: 7rem;
  margin-bottom: 3rem;
  border-radius: 0 30% 30% 0;
}

.img-tabpanel1 img, .img-tabpanel2 img, .img-tabpanel3 img {
  position: absolute;
  /* right: -15%; */
  right: -40px;
  width: 300px;
}

.img-tabpanel1 img {
  top: -25%;
}

.img-tabpanel2 img {
  top: -40%;
}

.img-tabpanel3 img {
  top: -45%;
}

.tabpanel button {
  display: none;
}

/*? --- thirdpart --- */

.thirdpart {
  margin-bottom: 7rem;
}

.thirdpart p {
 margin: 1rem 1.5rem 3rem 1.5rem;
}

.card {
  margin: 3rem auto;
  width: 17rem;
  border-radius: 10px;
  box-shadow: 0 10px 10px hsl(229, 8%, 85%);
}

.card p {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

.dots {
  width: 100%;
}

.logo {
  width: 5.5rem;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

.card button {
  width: 85%;
  margin: 1.2rem auto;
}

/*? --- faq --- */

.description {
  margin-bottom: 4rem;
}

.description h3 {
  margin: 1rem 4rem;
}

.description p {
  margin: 1rem 2rem;
}

.faq hr {
  width: 85vw;
}

.question {
  display: grid;
  grid-template-columns: 6fr 1fr;
  justify-content: space-between;
  margin: 1rem 2rem;
}

.question img {
  justify-self: flex-end;
}

.question button {
  text-align: left;
}

.question button:hover {
  color: var(--pinkred);
  transition: 0.2s;
}

.answer {
  text-align: left;
  margin: 2rem;
}

.blue {
  margin-top: 3rem;
}


/* --- footer --- */

.footer {
  color: white;
  margin-top: 6rem;
  background: var(--blue);
  display: flex;
  flex-direction: column;
  height: 40vh;
}

.blue-footer {
  display: flex;
  flex-direction: column;
  margin: 2.5rem;
}

.blue-footer p {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.blue-footer h3 {
  margin-bottom: 1.5rem;
}

.blue-footer input {
  height: 2.5rem;
  margin-bottom: 1rem;
  color: var(--mediumgray);
  font-weight: 500;
}

.caps {
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 0.8rem;
  font-weight: 500;
}

.black-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--darkblue);
}

.black-footer img {
  width: 30px;
  margin: 2rem 0;
}

.black-footer a {
  color: var(--lightgray);
  font-weight: 500;
  text-transform: uppercase;
  margin: 1rem;
}

.black-footer a:hover {
 color: rgba(255, 255, 255, 0.294);
 transition: 0.2s;
}

.black-footer li {
  margin: 1rem auto;
}

footer {
  display: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 768px) {

/* --- topbar --- */

.closed {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
}

.closed a {
  margin: 0 1rem;
  color: var(--darkgray);
  font-weight: 500;
}

.closed a:hover {
  opacity: 0.5;
}

.closed button, .closed a {
  font-size: 0.8rem;
  text-transform: uppercase;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4.5rem;
  padding: 0 2rem;
}

.togglenav, .topbar hr, .toggle-socials, .toggle-img {
  display: none;
}

/* --- firstpart --- */

.firstpart {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.first-img {
  order: 1;
  margin: 0;
  margin-left: 25%;
  height: 15rem;
}

.first-img img {
  width: 400px;
  top: -60px;
  left: -120px;
}

.manager {
  text-align: left;
  margin-left: 2rem;
}

.manager h1 {
  font-size: 1.8rem;
}

.manager h1, .manager p {
  margin-left: 0.5rem;
}

.manager button {
  margin-top: 1rem;
}

/* --- secondpart --- */

.secondpart p {
  margin: 0 auto;
  margin-bottom: 2rem;
  width: 60%;
}

.tabs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 80%;
  margin: 0 auto;
}

.tabs hr {
  display: none;
}

.hr {
  display: block;
}

.hr hr {
  width: 80%;
  margin: 0 auto;
  border-top: 1px solid hsl(229, 8%, 80%);
  border-bottom: 1px solid white;
}

/* .tabpanel h3, .tabpanel p {
  width: 40%;
  text-align: right;
  margin: 0;
} */

.img-tabpanel1, .img-tabpanel2, .img-tabpanel3 {
  /* margin-right: 60%; */
  /* height: 15rem; */
  width: 40%;
  margin-right: 0;
}

.text {
  width: 50%;
  position: absolute;
  top: 90%;
  right: -5%;
}

.text button {
  display: block;
  margin: 0;
  margin-top: 1rem;
}

.text p, .text h3, .text button {
  text-align: left;
}

.text h3 {
  margin: 0;
  margin-bottom: 1rem;
}

.text p {
  margin: 0;
  width: 80%;
}

/* --- thirdpart --- */



/* --- faq --- */

.faq {
  width: 70%;
  margin: 0 auto;
}

.faq hr {
  width: 90%;
}

}
